<!DOCTYPE html>
<html>
<head>
  <title>Pokémon Management</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

  <h1 class="main-title">Pokémon Management App</h1>

  <div class="add-btns">
    <a href="/pokemon/new">Add a new Pokémon</a>
    <br>
    <a href="/trainer/new">Add a new trainer</a>
  
  </div>

  <!-- Pokémon -->
  <h2>Pokémon</h2>
  <% if (pokemon.length === 0) { %>
    <p>No Pokémon found.</p>
  <% } else { %>
    <% pokemon.forEach(p => { %>
      <div class="pokemon">
        <div class="pokemonDesc">
          <strong>Name:</strong> <%= p.name %><br>
          <strong>Trainer:</strong> <%= p.trainer_name %><br>
          <strong>Types:</strong>
          <%= p.types.join(", ") %>
        </div>
      
        <br>

        <form action="/pokemon/<%= p.id %>/delete" method="POST" style="display:inline;">
          <button type="submit" class="detailsBtn" onclick="return confirm('Delete <%= p.name %>?')">
            Delete
          </button>
        </form>

        <a href="/pokemon/<%= p.id %>/edit">
          <button id="edit" class="detailsBtn">Edit</button>
        </a>

        <a href="/pokemon/<%= p.id %>">
          <button id="details" class="detailsBtn">Open Details</button>
        </a>

      </div>
    <% }) %>
  <% } %>

  

  <!-- Trainers -->
  <h2>Trainers</h2>
  <% if (trainers.length === 0) { %>
    <p>No trainers found.</p>
  <% } else { %>
    <ul>
      <% trainers.forEach(trainer => { %>
        <li><%= trainer.name %></li>
      <% }) %>
    </ul>
  <% } %>

  
 
</body>
</html>
